@{
  Layout = "_Layout";
}

@using SweetAndSavory.ViewModels

@model LoginViewModel

<h2>log in with your account</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.PasswordFor(m => m.Password)

  <input type="submit" value="Log in" class="btn btn-default" />
}

<br>
<br>


<p>don't have an account yet? | @Html.ActionLink("create account", "Register")</p>
<p>@Html.ActionLink("back to home", "Index", "Home")</p>


